* {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: #888;
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}

input {
    -webkit-touch-callout: none;
}

img a {
    color: #555;
    text-decoration: none;
    -webkit-touch-callout: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
    /* 去除图片默认的缝隙 */
}

.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    background-color: #333;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
    /* 行内块 */
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}

.search-wrap {
    height: 44px;
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    overflow: hidden;
    color: #fff;
}

.search-btn {
    position: absolute;
    top: 0px;
    left: 0;
    height: 44px;
    width: 40px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 18px;
    height: 20px;
    background: url(../images/s-btn.png) no-repeat;
    background-size: 18px 20px;
    margin: 12px 0 0 13px;
}

.search-logo {
    position: absolute;
    top: 0px;
    right: 0;
    height: 44px;
    width: 40px;
    text-align: center;
    line-height: 44px;
}

.search {
    height: 30px;
    position: relative;
    /* background-color:blue; */
    margin: 0 50px;
    border-radius: 15px;
    margin-top: 7px;
    border: 1px solid #ccc;
}

.jd-icon {
    width: 20px;
    height: 15px;
    position: absolute;
    top: 8px;
    left: 10px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 23px;
    height: 15px;
    width: 1px;
    display: block;
    background: #ccc;
}

.sou {
    position: absolute;
    top: 8px;
    left: 40px;
    width: 18px;
    height: 15px;
    background-color: #ccc;
    background: url(../images/jd-sprites.png) no-repeat -81px 0px;
    /* 图片位置 */
    background-size: 200px auto;
    /* 图片缩放 */
}

.sliper img {
    width: 100%;
}

.brand {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.brand div {
    float: left;
    width: 33.33%;
}

.brand div img {
    width: 100%;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a img {
    width: 40%;
    margin: 10px 0;
}

nav a span {
    display: block;
    font-size: 12px;
}

.news img {
    width: 100%;
}

.news a {
    float: left;
    box-sizing: border-box;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
}