body {
    min-width: 320px;
    max-width: 750px;
    /* flexible划分了 10 等份 */
    /* cssrem  插件默认大小16px，在设置中修改 cssroot 重启生效*/
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}
/* 超过750px  */
@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}
.search-content {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.173333rem;
    background-color: #FFC001;
}
 .classify{
height: 0.933333rem;
width: 0.6rem ;
background-color:pink;
margin:0.146667rem 0.333333rem 0.133333rem 0.333333rem;
background: url(../images/classify.png);
background-size: 0.6rem 0.933333rem ;
}
.search{
    flex:1;
    
}
.search input{
    box-sizing: border-box;
    outline: none;
    border: 0;
    width: 100%;
        height: .88rem;
        font-size: .333333rem;
        margin-top: .133333rem;
        padding-left: .733333rem;
        background-color: #fff2cc;
    border-radius: 0.44rem;
    color: #757575;

}
.login{
width: 1rem;
height: 0.933333rem;
margin: 0.133333rem;
font-size: 0.333333rem;
line-height: 0.933333rem;
font-family:Arial, Helvetica, sans-serif ;
text-align: center;
color: #fff;
}