html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333;
  }
}
@media screen and (min-width: 360) {
  html {
    font-size: 24;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50;
  }
}
