html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333;
  }
}
@media screen and (min-width: 360) {
  html {
    font-size: 24;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.search-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  background-color: #ffc110;
}
.search-content .classify {
  width: 0.88rem;
  height: 1.4rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 0.88rem 1.4rem;
  margin: 0.22rem 0.48rem 0.14rem 0.48rem;
}
.search-content .login {
  width: 1.5rem;
  height: 1.4rem;
  margin: 0.2rem;
  font-size: 0.5rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;
}
.search-content .search {
  flex: 1;
}
.search-content .search input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 1.32rem;
  border: 0;
  border-radius: 0.66rem;
  margin-top: 0.24rem;
  font-size: 0.5rem;
  padding-left: 1.1rem;
  color: #757575;
}
.banner {
  width: 15rem;
  height: 7.36rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
  height: 100%;
}
nav {
  width: 15rem;
}
nav a {
  float: left;
  width: 3rem;
  height: 2.8rem;
  text-align: center;
}
nav a img {
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.16rem auto 0;
}
nav a span {
  display: block;
  font-size: 0.5rem;
  color: #333;
}
